.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
  background: #e0f7ff;
}
.category-search {
  width: 372px;
  margin: 0 auto;
  position: relative;
}
.category-search input {
  width: 100%;
  height: 44px;
  border: 1px solid #80b3ff99;
  padding: 0 15px;
  border-radius: 8px;
  font-size: 13px;
  color: #12395d;
  font-weight: 400;
}
.category-search .search-img {
  position: absolute;
  top: 8px;
  right: 15px;
}
.category-search::placeholder {
  font-size: 13px;
  color: #12395d;
  font-weight: 400;
}
@media (max-width: 767px) {
  .category-search {
    width: 100%;
  }
}
