.prodcut-section {
  background: #e0f7ff;
  padding: 60px 0;
}
.medicine-box {
  background: #c3e6f2e5;
  width: 100%;
  height: 322px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-box {
  box-shadow: 0px 4px 32px 0px #00000008;
  background: #fff;
  border-radius: 6px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #233d55cc;
}
